*.gem
*.rbc
.bundle
.config
.yardoc
.DS_Store
*.tmproj
tmtags
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
spec/keys/pupil_testkey.rb
test/tmp
test/version_tmp
tmp