*.gem
*.rbc
.config
.yardoc
*.tmproj
tmtags
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
tmp/

# bundler
/vendor/bundle
.bundle

# OS specific
.DS_Store
Thumbs.db

# Testing
test/
spec/keys/pupil_testkey.rb